    <div class="videoBox">
        <a class="cardLink" href="/posts/{{this.id}}">
            <img class="posterThumb" src="/{{this.thumbnail}}" type="image/png">
            <p class="cardTitle">{{this.title}}</p>
        </a>
    </div>
 