<div class="comment">
    <strong class="comments-author"><i class='far fa-user-circle'>{{this.username}}</i></strong>
    <span class="comment-date">{{formatDateString this.createAt}}</span>
    <div class="comment-text">{{this.text}}</div>
</div>