<div>
   {{#if messages.error}}
      <div class="flash-message" id="flash-error">{{messages.error}}</div>
   {{else}}
       <div class="flash-message" id="flash-success">{{messages.success}}</div>
   {{/if}}
</div>